body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: none;
}

a {
    text-decoration: none;
    color: #fff;
    opacity: .8;
    transition: all ease .3s;
}

a:hover {
    color: #000;
}

.container {
    width: 80%;
    margin: 0 auto;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.logo {
    color: #fff;
    opacity: .8;
    z-index: 4;
}
.nav-links {
    list-style: none;
    z-index: 4;
}
.nav-links li {
    display: inline-block;
    margin: 0 12px;
}

.nav-links a {
    padding: 1rem;
}

.header-section {
    margin: 0;
    padding: 0;
    background: url(img/bg-1.jpg) no-repeat center center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    opacity: .9;
    text-align: center;
    width: 100%;
    z-index: 8;
}

.hero-text h1 {
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: 500;
}

.btn {
    text-decoration: none;
    color: #fff;
    padding: .8rem 3rem;
    border: 1px solid #fff;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    transition: all ease-in .3s;
    text-transform: capitalize;
}

.load-more {
    font-size: 40px;
    color: #fff;
    opacity: .8;
    font-weight: 400;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.cursor {
    width: 3rem;
    height: 3rem;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.712);
    z-index: 1; 
    transform: translate(-50%,-50%);
    position: absolute;
    pointer-events: none;
    transition: all ease .3s;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: 1;
}

.link-grow {
    transform: scale(1.5);
    background-color: #fff;
    opacity : .8;
}
